.main-apps {
    &.page-6 {
        background-color: #000;
        .coin-fly {
            &.exit {
                animation: fadeOutRight 1s ease-in-out;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
            }
        }
        .triv-logo {
            &.entrance {
                animation: fadeIn 3s;
                -webkit-animation: fadeIn 3s;
                -moz-animation: fadeIn 3s;
                -o-animation: fadeIn 3s;
                -ms-animation: fadeIn 3s;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                animation-delay: 0s;
            }
            &.exit {
                animation: fadeOutLeft 1s ease-in-out;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
            }
        }
        .page-6-area {
            height: 100vh;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: $primary;
            @media #{$large-mobile} {
                width: 100vw;
            }
            .text-page {
                opacity: 1;
                padding: 0px 15px;
                align-items: center;
                z-index: 1;
                margin-top: -100px;
                h5 {
                    font-size: 20px;
                    line-height: 32px;
                    font-weight: 700;
                }
                .text-greeting {
                    display: flex;
                    flex-direction: column;
                    gap: 13px;
                    align-items: center;
                    &__name {
                        opacity: 0;
                        gap: 0px;
                    }

                    &.entrance {
                        animation: textGreetingEntrance 1s ease-in-out;
                        -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
                        animation-delay: 1s;
                    }
                }
                .text-award {
                    width: 223px;
                    height: 64px;
                    position: relative;
                    overflow: hidden;
                    .wrap {
                        position: absolute;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 64px;
                        background-color: #008EFF;
                        &.entrance {
                            left: -223px;
                            -webkit-animation: textWrapEntrance 1s forwards;
                            -webkit-animation-delay: 1s;
                            animation: textWrapEntrance 1s forwards;
                            animation-delay: 0s;
                        }
                        &.exit {
                            -webkit-animation: slideOut 0.5s forwards;
                            -webkit-animation-delay: 5ms;
                            animation: slideOut 0.5s forwards;
                            animation-delay: 5ms;
                        }
                    }
                    label {
                        opacity: 0;
                        position: absolute;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        height: 100%;
                        width: 100%;
                        color: $white;
                        &.entrance {
                            animation: fadeIn 2s;
                            -webkit-animation: fadeIn 2s;
                            -moz-animation: fadeIn 2s;
                            -o-animation: fadeIn 2s;
                            -ms-animation: fadeIn 2s;
                            -webkit-animation-fill-mode: forwards;
                            animation-fill-mode: forwards;
                            animation-delay: 1s;
                        }
                        &.exit {
                            animation: fadeOut 400ms;
                            -webkit-animation: fadeOut 400ms;
                            -moz-animation: fadeOut 400ms;
                            -o-animation: fadeOut 400ms;
                            -ms-animation: fadeOut 400ms;
                            -webkit-animation-fill-mode: forwards;
                            animation-fill-mode: forwards;
                            animation-delay: 5s;
                        }
                    }
                }
                p {
                    opacity: 0;
                }
            }
        
            .jet {
                z-index: 0;
                opacity: 0;
                bottom: 5%;
                position: absolute;
                height: 244px;
                @media #{$extra-small-mobile} {
                    height: 222px;
                }
                &.entrance {
                    animation: jetEntrance 900ms linear alternate;
                    animation-delay: 1s;
                    opacity: 0;
                    -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
                }
                &.exit {
                    animation: jetExit 700ms linear alternate;
                    animation-fill-mode: forwards;
                }
                
            }
        
        }

        .cloud-bottom {
            opacity: 1;
            position: absolute;
            transform-origin: top;

            &.exit {
                animation: cloudExit 700ms linear alternate;
                animation-fill-mode: forwards;
            }

            &__left {
                height: 146px;
            }
            &__right {
                height: 130px;
            }
        }  

        // .cloud-bottom {
        //     opacity: 1;
        //     transform-origin: top;

        //     &.exit {
        //         animation: cloudExit 700ms linear alternate;
        //         animation-fill-mode: forwards;
        //     }
        // }   

        button {
            &.entrance {
                animation: buttonEntrance 1s ease-in-out;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                animation-delay: 2s;
            }
            &.exit {
                animation: fadeOut 400ms;
                -webkit-animation: fadeOut 400ms;
                -moz-animation: fadeOut 400ms;
                -o-animation: fadeOut 400ms;
                -ms-animation: fadeOut 400ms;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
            }
        }        

        .page-6__slide {
            height: 100vh;
            width: 100%;
            background-color: #CEEAF0;
            position: fixed;
            bottom: -100vh;
            z-index: 1;
            &.exit {
                &.exit {
                    animation: slideExit 700ms linear alternate;
                    animation-fill-mode: forwards;
                }
            }
        }
    }


}

@keyframes textWrapEntrance {
    100% { left: 0; }
}

@keyframes slideOut {
    100% { left: -223px; }
}


@keyframes textGreetingEntrance {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to { 
        opacity: 1 
    }
}

@keyframes textAwardEntrance {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to { 
        opacity: 1 
    }
}

@keyframes jetEntrance {
    from {
        opacity: 1;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
    }
}

@keyframes jetExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
        transform: translateY(-100vh);
    }
}

@keyframes cloudExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
        transform: translateY(-95vh);
    }
}


@keyframes slideExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
        transform: translateY(-100vh);
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }
    to { 
        opacity: 0;
        transform: translateX(-100vh);

    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }
    to { 
        opacity: 0;
        transform: translateX(100vh);

    }
}


