//
// general.scss
//

html {
    position: relative;
    min-height: 100vh;
    height: 100vh;
}

body {
    overflow-x: hidden;
    height: 100vh;
    #app {
        height: 100vh;
        position: fixed;
    }
}
